@implements IDisposable
@inject NavigationManager NavigationManager


<div class="sticky">
    <div class="horizontal-main hor-menu clearfix">
        <div class="horizontal-mainwrapper container clearfix">
            <nav class="horizontalMenu clearfix">
                <ul class="horizontalMenu-list">
                    <li aria-haspopup="true">
                        <NavLink class="sub-icon" href="" Match="NavLinkMatch.All">
                            <span class="hor-icon fa fa-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li aria-haspopup="true">
                        <NavLink class="sub-icon" href="counter">
                            <span class="hor-icon fa fa-calculator" aria-hidden="true"></span> Count
                        </NavLink>
                    </li>
                    <li aria-haspopup="true">
                        <NavLink href="merchants" class="sub-icon">
                            <span class="hor-icon fa fa-users" aria-hidden="true"></span> Merchants
                        </NavLink>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li aria-haspopup="true">
                                <NavLink href="Account/Manage" class="sub-icon">
                                    <span class="hor-icon fa fa-home" aria-hidden="true"></span> @context.User.Identity?.Name
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="/bind-props" class="sub-icon">
                                    <span class="hor-icon fa fa-calculator" aria-hidden="true"></span> Data Binding
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="/parent-child" class="sub-icon">
                                    <span class="hor-icon fa fa-users" aria-hidden="true"></span> Parent Child
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="/basic-routing" class="sub-icon">
                                    <span class="hor-icon fa fa-users" aria-hidden="true"></span> Basic routing
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="/blazor-js" class="sub-icon">
                                    <span class="hor-icon fa fa-users" aria-hidden="true"></span> Blazor JS
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="lifecycle" class="sub-icon">
                                    <span class="hor-icon fa fa-users" aria-hidden="true"></span> Blazor LifeCycle
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="forms" class="sub-icon">
                                    <span class="hor-icon fa fa-users" aria-hidden="true"></span> Forms
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <div class="nav-item px-3">
                                    <form action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link">
                                            <span class="fa fa-sign-in" aria-hidden="true"></span> Logout
                                        </button>
                                    </form>
                                </div>
                            </li>

                        </Authorized>
                        <NotAuthorized>
                            <li aria-haspopup="true">
                                <NavLink href="Account/Register" class="sub-icon">
                                    <span class="hor-icon fa fa-user-plus" aria-hidden="true"></span> Register
                                </NavLink>
                            </li>
                            <li aria-haspopup="true">
                                <NavLink href="Account/Login" class="sub-icon">
                                    <span class="hor-icon fa fa-sign-in" aria-hidden="true"></span> Login
                                </NavLink>
                            </li>

                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </nav>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}