@page "/blazor-js"

<PageTitle>Javascripts in Blazor</PageTitle>
<div class="row">
    <div class="col-12">
        <h3 class="text-primary">Using Javascript in Blazor</h3>
    </div>
</div>

@code {

}
